
/* css login */
/* Mengatur background halaman login */
body.login-page {
    background-image: url('img/background.jpg'); 
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Mengatur container form agar berada di tengah halaman */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    max-width: 400px;
    width: 100%;
    margin: auto;
}

/* Mengatur tampilan card form */
.card.login-form {
    background-color: rgba(255, 255, 255, 0.9); 
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(27, 27, 27, 0.26); 
    width: 100%;
    text-align: center;
}

/* Mengatur gambar logo di atas form */
.card.login-form img {
    margin-bottom: 15px;
}

/* Judul form login */
.card-title {
    font-size: 24px;
    margin: 10px 0;
    color: #000;
}

/* Mengatur tampilan label agar berwarna hitam dan rata kiri */
.card.login-form label {
    color: #000; /* Warna hitam untuk label */
    display: block;
    margin-bottom: 5px;
    text-align: left;
    
}

/* Mengatur tampilan input teks agar berwarna hitam dan rata kiri */
.form-control {
    color: #000; /* Warna hitam untuk teks input */
    background-color: #fff;
    text-align: left; /* Meratakan teks ke kiri */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    width: 100%;
    box-sizing: border-box;
}

/* Tombol login utama */
.btn-primary {
    width: 100%;
    padding: 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn-primary:hover {
    background-color: rgb(219, 9, 9);
}

/* Checkbox dan teks di sebelahnya */
.form-check {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 10px;
}

.form-check input[type="checkbox"] {
    margin-right: 5px;
}

.form-check label {
    color: red; 
}
